<div class="content">
  <div class="content-image">
    <img
      class="bg circle-small"
      src="../../../assets/images/blob-small.svg"
      alt=""
    />
    <img
      class="bg image-dots"
      src="../../../assets/images/accounting_dots.svg"
    />
    <div class="content-image-desc">
      <img src="../../../assets/images/We make it Super Sim.svg" alt="" />
      <img class="line" src="../../../assets/images/Line 3.svg" alt="" />
    </div>
    <img
      class="content-pic"
      src="../../../assets/images/collect_img-video.png"
      alt=""
    />
  </div>
  <div class="content-calc">
    <img src="../../../assets/images/Group 6.svg" />

    <img class="bg circle-big" src="../assets/images/circle.svg" />
    <img
      class="bg calc-dots"
      src="../../../assets/images/accounting_dots.svg"
    />
  </div>
</div>
