.content {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}

.content-image {
  display: flex;
  flex-direction: column;
  position: relative;
}

.content-image-desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.line {
  width: 175px;
  height: 8px;
}

.content-pic {
  width: 450px;
  height: 210px;
  margin-top: 75px;
}

.content-calc {
  position: relative;
}

.content-calc img:first-child {
  width: 520px;
  height: 500px;
}

.bg {
  position: absolute;
  z-index: -1000;
}

.circle-big {
  top: -400px;
  right: -220px;
}

.circle-small {
  top: -70px;
  left: -310px;
}

.image-dots {
  bottom: 80px;
  right: -105px;
}

.calc-dots {
  bottom: -25px;
  left: 150px;
}
