<header class="app-header">
  <img class="logo" src="../../../assets/images/logo.png" alt="open bank" />

  <nav class="app-global-nav">
    <ul>
      <li class="app-nav link">Products</li>
      <li class="app-nav link">Solutions</li>
      <li class="app-nav link">Pricing</li>
      <li class="app-nav">
        <button class="btn btn-login">Login</button>
      </li>
      <li class="app-nav">
        <button class="btn btn-start">Get Started</button>
      </li>
    </ul>
  </nav>
</header>
