<div class="sub-content">
  <div class="sub-content-cards">
    <ul class="card-row-one">
      <li>
        <app-card
          cardImage="../../../assets/images/cards/Get Paid Instantly.png"
          cardTitle="../../../assets/images/cards/Quick cash disbursem.svg"
          cardDesc="../../../assets/images/cards/Get terms loans that.svg"
        ></app-card>
      </li>
      <li>
        <app-card
          cardImage="../../../assets/images/cards/Low interest rate.png"
          cardTitle="../../../assets/images/cards/Low-interest rate.svg"
          cardDesc="../../../assets/images/cards/Achieve your financi.svg"
        ></app-card>
      </li>
      <li>
        <app-card
          cardImage="../../../assets/images/cards/Secure Payments.png"
          cardTitle="../../../assets/images/cards/Zero Paperwork.svg"
          cardDesc="../../../assets/images/cards/Get started instantl.svg"
        ></app-card>
      </li>
    </ul>
    <ul class="card-row-two">
      <li>
        <app-card
          cardImage="../../../assets/images/cards/Freelancer Feature Icon.png"
          cardTitle="../../../assets/images/cards/Ace your business.svg"
          cardDesc="../../../assets/images/cards/Manage banking, acco.svg"
        ></app-card>
      </li>
      <li>
        <app-card
          cardImage="../../../assets/images/cards/Covid.png"
          cardTitle="../../../assets/images/cards/Loans to fight COVID.svg"
          cardDesc="../../../assets/images/cards/Zero EMI for first 3.svg"
        ></app-card>
      </li>
    </ul>
  </div>
  <div class="sub-content-info">
    <div class="content-info">
      <img src="../../../assets/images/Boost your business.svg" alt="" />
      <img src="../../../assets/images/Line 3.svg" alt="" />
      <img
        class="img-desc"
        src="../../../assets/images/Get your hands on a.svg"
        alt=""
      />

      <button class="btn btn-login">Get an Open Account</button>
    </div>
  </div>
</div>
